<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Products Management</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="container">
			<h1>Products Management</h1>
			
			<form action="/store" method="post">
				<div class="form-group">
					<label for="designation">Designation</label>
					<input type="text" id="designation" name="designation" class="form-control" >
				</div>
				<div class="form-group mr-4">
					<label for="price">Price</label>
					<input type="number" id="price" name="price" class="form-control">
				</div>
				<button type="submit" class="btn btn-primary">Add</button>
			</form>
		</div>
	</body>
</html>