<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<body>
		<div class="container" layout:fragment="content">		
			<form th:action="@{/admin/update/} + ${p.id}" method="post">
				<div class="form-group">
					<label for="designation">Designation</label>
					<input type="text" id="designation" name="designation" class="form-control" th:value="${p.designation}">
					<div class="invalid-feedback" th:errors="${p.designation}">
			        </div>
				</div>
				<div class="form-group mr-4">
					<label for="price">Price</label>
					<input type="number" id="price" name="price" class="form-control" th:value="${p.price}">
					<div class="invalid-feedback" th:errors="${p.price}">
			        </div>
				</div>
				<button type="submit" class="btn btn-primary">Update</button>
			</form>
		</div>
	</body>
</html>