<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<body>
		<div class="container" layout:fragment="content">		
			<div class="row">
				<div class="col-md-10">
					<form action="/admin" class="form-inline mb-4">
						<div class="form-group mr-4">
							<input type="search" name="query" class="form-control" th:value="${query}">
						</div>
						<button type="submit" class="btn btn-primary">Search</button>
					</form>
				</div>
				<div class="col-md-2">
					<a href="/admin/create" class="btn btn-success">New</a>
				</div>
			</div>
			
			<table class="table">
			  <thead>
			    <tr>
			      <th>#</th>
			      <th>Designation</th>
			      <th>Price</th>
			      <th>Actions</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="p : ${products}">
			      <th th:text="${p.id}"></th>
			      <td th:text="${p.designation}"></td>
			      <td th:text="${p.price}"></td>
			      <td>
					<a th:href="'/admin/edit/' + ${p.id}" class="btn btn-warning">Edit</a>
					<form th:action="@{/admin/destroy/} + ${p.id}" method="post" class="d-inline">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
					</form>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</body>
</html>